.footer{
    width: 100%;
    background-color: black;  
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 2em;
    padding-bottom: 2.5em;
}

.footer h3{
    font-size: 3rem;
    font-weight: 500;
    color: white;
    display: inline-block;
    margin-right: 0.4em;
}

.footer h3 span{
    font-size: 2rem;
    color: tomato;
}

.footer p{
    color: white;
    font-size: 2rem;
    display: inline-block;
}

@media only screen and (max-width:1292px) {
    .footer h3{
        font-size: 2.5rem;
    }
    
    .footer h3 span{
        font-size: 1.7rem;
    }

    .footer p{
        font-size: 1.6rem;
    }
}

@media only screen and (max-width:690px) {
    .footer h3{
        font-size: 2rem;
    }
    
    .footer h3 span{
        font-size: 1.3rem;
    }

    .footer p{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:330px) {
    .footer h3{
        font-size: 1.5rem;
    }
    
    .footer h3 span{
        font-size: 1rem;
    }

    .footer p{
        font-size: 1rem;
    }
}