*,::after,::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  font-size: 62.5%;
}

.app{
  background-image: url('./assests/Images/AppBack.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width:490px) {
    .app{
      height: 100vh;
    }
}